### Gradle ###
/.gradle/
build/
!**/src/**/build/
!/gradle/wrapper/gradle-wrapper.jar

### Kotlin Compiler ###
.kotlin/

### Eclipse, STS ###
.metadata/
.settings/
.sts4-cache/
bin/
.apt_generated
.checkstyle
.classpath
.factorypath
.loadpath
.project
.springBeans
*.launch
!**/src/**/bin/

### IntelliJ IDEA ###
.idea/
out/
*.iml
*.ipr
*.iws
!**/src/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### SublimeText + TextMate ###
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject

### Vim ###
*.sw[op]

### Mac OSX + Windows ###
$RECYCLE.BIN/
.DS_Store
[Dd]esktop.ini
Thumbs.db
*.lnk

### Project-specific ###
/tmp/
