name: Deploy to GitHub Pages

on:
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up JDK 21
        uses: actions/setup-java@v5.1.0
        with:
          java-version: "21"
          distribution: "jetbrains"

      - name: Build with Gradle
        run: ./gradlew wasmJsBrowserDistribution

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./composeApp/build/dist/wasmJs/productionExecutable/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
